<%= form_with(model: raw_material, local: true, class: "form-horizontal", role: "form") do |form| %>
  <%= render 'shared/error_messages', object: raw_material %>

  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :raw_material_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, id: :raw_material_description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :qty, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :qty, id: :raw_material_qty, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :unit, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :unit, id: :raw_material_unit, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :hsn, "HSN/SAC", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :hsn, id: :raw_material_hsn, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :gst_rate, "GST Rate", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :gst_rate, id: :raw_material_gst_rate, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :net_price, "Net Price", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :net_price, id: :raw_material_net_price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :vendor_name, "Vendor Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :vendor_name, id: :raw_material_vendor_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :purchased_on, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.date_select :purchased_on, id: :raw_material_purchased_on, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
