<% provide(:title, "Cart") %>
<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
       <div class="panel-title">Cart</div>
       <div class="panel-options">
       </div>
    </div>
    <div class="panel-body">
      <%= form_for @order, html: { class: "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :third_party_id, "Customer", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.select :third_party_id, options_for_select(ThirdParty.all.map{|tp|[tp.name, tp.id]}), {},{class: "form-control"} %>
        </div>
      </div>
      <%= f.check_box :with_tax, id: :order_with_tax, value: @taxEnabled, checked: @taxEnabled %> With Tax
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Type</th>
              <th>HSN</th>
              <th>Unit</th>
              <th>Price</th>
              <th>Added Qty</th>
              <th>Item Cost</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% totalCost = 0 %>
            <% @cartDetails.each do |key, cartItm| %>

            <% price = 0 %>
            <% if cartItm['product'] && cartItm['product'].trading_price && cartItm['product'].trading_price != 0 %>
              <% price = cartItm['product'].trading_price %>
            <% else %>
              <% price = cartItm['product'].mrp %>
            <% end %>
              <tr>
                <td><%= cartItm['product'].name %></td>
                <td><%= cartItm['product'].product_type %></td>
                <td><%= cartItm['product'].hsn %></td>
                <td><%= cartItm['product'].unit %></td>
                <td><%= price %></td>
                <td><%= cartItm['addedQty'] %></td>
                <td><%= cartItm['addedQty'].to_i * price %></td>
                <td><span style="color: red; cursor: pointer;" onclick="removeFromCart('<%= cartItm['product'].id %>')">Remove</span></td>
                <% totalCost += cartItm['addedQty'].to_i * price %>
              </tr>
            <% end %>
            <tr>
              <td colspan="6" align="right"><strong>Total Cost of Product</strong></td>
              <td colspan="2"><%= totalCost %></td>
            </tr>
            <% totalCostCopy = totalCost %>
            <% discountAmount = 0 %>
            <% if @appliedCoupon %>
              <% 
                if(@appliedCoupon.type_of_discount == 'perc')
                  discountAmount = (totalCost * @appliedCoupon.amount)/100
                  totalCost -= discountAmount
                elsif (@appliedCoupon.type_of_discount == 'flat')
                  discountAmount = @appliedCoupon.amount
                  totalCost -= @appliedCoupon.amount
                end
              %>
              <tr>
                <td colspan="6" align="right"><strong>Discount Applied for <%= @appliedCoupon.name %> (<%= @appliedCoupon.amount %><%= @appliedCoupon.type_of_discount == 'perc' ? '%' : '/-' %>)</strong></td>
                <td colspan="2"><%= discountAmount %></td>
              </tr>
              <tr>
                <td colspan="6" align="right"><strong>Cost after discount</strong></td>
                <td colspan="2"><%= totalCost %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="8" align="left"><input type="button" onclick="resetTax()" value="Reset Taxes" class="btn btn-xs btn-info"></td>
            </tr>
            <% totalTax = 0 %>
            <% if @taxEnabled %>
              <% @taxes.each do |taxId, tax| %>
                <% taxAmt = totalCost * tax['taxPerc'].to_i/100 %>
                <% totalTax += taxAmt %>
                <tr>
                  <td><%= tax['taxName'] %></td>
                  <td colspan="3">
                    <input type="text" class="input-sm col-xs-2 form-control" style="width: 10%; margin-right: 5px;" id="tax_val_<%= tax['taxId'] %>" value="<%= tax['taxPerc'] %>" />
                    <input type="button" class="btn btn-primary btn-sm" value="Change" onclick="modifyTax(<%= tax['taxId'] %>)"/>
                  </td>
                  <td><input type="button" class="btn btn-sm btn-danger" value="Remove" onclick="removeTax(<%= tax['taxId'] %>)"></td>
                  <td align="right"><strong><%= tax['taxName'] + " (" + tax['taxPerc'].to_s + "%)" %></strong></td>
                  <td colspan="2"><%= taxAmt %></td>
                </tr>
              <% end %>
            <% end %>
            <tr>
              <td colspan="6" align="right">Total Amount</td>
              <td colspan="2"><%= totalCost = totalCost + totalTax %></td>
            </tr>
            <% totalCost = totalCost - @freight_less %>
            <% if @freight_less != nil and @freight_less != 0 %>
            <tr>
              <td colspan="6" align="right"><strong>After Freight less (<%= @freight_less %>)</strong></td>
              <td colspan="2"><%= totalCost %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="6" align="right"><strong>Net Payable</strong></td>
              <td colspan="2"><%= totalCost %></td>
            </tr>
          </tbody>
        </table>
        <% if @appliedCoupon %>
          <div>Coupon applied <strong><%= @appliedCoupon.name %></strong>! <input type="button" name="" value="Remove" class="btn btn-xs btn-danger" onclick="removeCoupon()"></div>
        <% else %>
          Add a coupon : <%= select_tag :coupon_id, options_for_select(Coupon.where(is_active: true).map{|tp|[tp.name, tp.id]}), {:include_blank => '- Select a coupon -'} %> <input type="button" name="" value="Apply" class="btn btn-xs btn-primary" onclick="applyCoupon()"><br/>
          <div id="coupon_application_status"></div>
        <% end %>
        <%= f.hidden_field :total_cost, id: :order_total_cost, value: totalCostCopy %>
        <%= f.hidden_field :total_tax, id: :order_total_tax , value: totalTax%>
        <%= f.hidden_field :discounted_amount, id: :order_discounted_amount, value: discountAmount %>
        <%= f.hidden_field :total_payable, id: :order_total_payable, value: totalCost %>
        <% if @appliedCoupon %>
          <%= f.hidden_field :coupon_id, id: :order_coupon_id, value: @appliedCoupon.id %>
        <% else %>
          <%= f.hidden_field :coupon_id, id: :order_coupon_id %>
        <% end %>
        <br/>
        <div class="form-group">
            <%= f.label :freight_less, "Freight less", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <% if @freight_less %>
                <%= f.text_field :freight_less, id: :order_freight_less, class: "form-control", value: @freight_less, onblur:"applyFreightLessDeduction()" %>
              <% else %>
                <%= f.text_field :freight_less, id: :order_freight_less, class: "form-control", onblur:"applyFreightLessDeduction()" %>
              <% end %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :bill_no, "Bill No", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :bill_no, id: :purchase_bill_no, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :bill_date, "Bill Date", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.date_select :bill_date, id: :order_bill_date, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :tr_no, "T/R No", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :tr_no, id: :purchase_tr_no, class: "form-control" %>
            </div>
        </div>


        <%= f.fields_for :financial_transaction do |trans| %>
            <div class="form-group">
                <%= trans.label :amount, "Paid Amount", class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= trans.text_field :amount, id: :purchase_transaction_amount, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= trans.label :payment_method, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                <%= trans.select :payment_method, FinancialTransaction.payment_methods.keys, {},{class: "form-control"}  %>
                </div>
            </div>
        <% end %>

        <div class="form-group">
            <%= f.label :remarks, "Remarks", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_area :remarks, id: :purchase_remarks, class: "form-control" %>
            </div>
        </div>
        <fieldset>
          <legend>Transport Details</legend>
          <%= f.fields_for :transport do |transprt| %>
              <div class="form-group">
                  <%= transprt.label :name, "Name", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= transprt.text_field :name, id: :purchase_transport_name, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <%= transprt.label :documents_through, "Documents Through", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= transprt.text_field :documents_through, id: :purchase_transport_documents_through, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <%= transprt.label :no_of_cases, "No of Cases", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= transprt.text_field :no_of_cases, id: :purchase_transport_no_of_cases, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <%= transprt.label :contact_no, "Contact No", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= transprt.text_field :contact_no, id: :purchase_transport_contact_no, class: "form-control" %>
                  </div>
              </div>

          <% end %>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit 'Save Order', class: 'btn btn-primary' %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  (function() {
    document.getElementById("order_with_tax").addEventListener("click", function(evnt){
      if(evnt.target.checked === true) {
        window.location = location.protocol + '//' + location.host + location.pathname;
      } else {
        window.location = location.protocol + '//' + location.host + location.pathname + "?no_tax=true";
      }
    });
    <% if @returningAfterFreightLess %>
    document.getElementById("purchase_bill_no").focus();
    <% end %>
  })();
</script>
