<%= form_with(model: employee, local: true, class: "form-horizontal", role: "form") do |form| %>
  <%= render 'shared/error_messages', object: employee %>

  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :employee_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :company_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.select :company_id, options_for_select(Company.all.map{|c|[c.company_name, c.id]}), {},{class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :phone_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :phone_no, id: :employee_phone_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :email, id: :employee_email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :address, id: :employee_address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :voter_card_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :voter_card_no, id: :employee_voter_card_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :aadhar_card_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :aadhar_card_no, id: :employee_aadhar_card_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :pan_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :pan_no, id: :employee_pan_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date_of_joining, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.date_select :date_of_joining, id: :employee_date_of_joining, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :designation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :designation, id: :employee_designation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :type_of_work, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :type_of_work, id: :employee_type_of_work, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :job_desc, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :job_desc, id: :employee_job_desc, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :terms, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :terms, id: :employee_terms, class: "form-control" %>
    </div>
  </div>

  <fieldset>
		<legend>Salary Details</legend>
    <div class="form-group">
      <%= form.label :salary, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :salary, id: :employee_salary, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :bank_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :bank_name, id: :employee_bank_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :bank_acc_no, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :bank_acc_no, id: :employee_bank_acc_no, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :ifsc_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ifsc_code, id: :employee_ifsc_code, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'Save Employee', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
