<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Address</th>
      <th>Voter card no</th>
      <th>Aadhar card no</th>
      <th>Pan no</th>
      <th>Date of joining</th>
      <th>Designation</th>
      <th>Type of work</th>
      <th>Job desc</th>
      <th>Terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.company %></td>
        <td><%= employee.address %></td>
        <td><%= employee.voter_card_no %></td>
        <td><%= employee.aadhar_card_no %></td>
        <td><%= employee.pan_no %></td>
        <td><%= employee.date_of_joining %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.type_of_work %></td>
        <td><%= employee.job_desc %></td>
        <td><%= employee.terms %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
