<%= form_with(model: third_party, local: true, class: "form-horizontal", role: "form") do |form| %>
  <%= render 'shared/error_messages', object: third_party %>
  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :third_party_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :address, id: :third_party_address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :phn_number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :phn_number, id: :third_party_phn_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :pan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :pan, id: :third_party_pan, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :gst_number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :gst_number, id: :third_party_gst_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :type_of_party, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.select :type_of_party, ThirdParty.type_of_parties.keys, {}, {id: :third_party_type_of_party, class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :due, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :due, id: :third_party_due, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'Save Party', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
