<% provide(:title, "Party :: " + @third_party.name) %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
      <div class="panel-title"><%= @third_party.name %></div>
      <div class="panel-options">
        <%= link_to edit_third_party_path(@third_party) do %>
          <i class="glyphicon glyphicon-edit" title="Edit this party"></i>
        <% end %>
        <%= link_to third_parties_path do %>
          <i class="glyphicon glyphicon-list" title="List all parties"></i>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @third_party.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @third_party.address %>
      </p>

      <p>
        <strong>Phone no:</strong>
        <%= @third_party.phn_number %>
      </p>

      <p>
        <strong>GST no:</strong>
        <%= @third_party.gst_number %>
      </p>

      <p>
        <strong>PAN no:</strong>
        <%= @third_party.pan %>
      </p>

      <p>
        <strong>Type:</strong>
        <% if @third_party.type_of_party %>
          <%= @third_party.type_of_party.capitalize %>
        <% end %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @third_party.due %>
      </p>
      <br/>
      <strong>Transaction History:</strong>
      <table class="table" id="thirdPartyLedger">
        <thead>
          <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Debit</th>
            <th>Credit</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td>
                <% if transaction['eventObj'].is_a?(Order) %>
                  <%= link_to transaction['event'], order_path(transaction['eventObj']) %>
                <% elsif transaction['eventObj'].is_a?(Collection) %>
                  <%= link_to transaction['event'], collection_path(transaction['eventObj']) %>
                <% else %>
                  <%= link_to transaction['event'], purchase_path(transaction['eventObj']) %>
                <% end %>
              </td>
              <td><%= transaction['date'] %></td>
              <td>
                <%= transaction['debit'] %>
                <% if transaction['eventObj'].is_a?(Purchase) %>
                 (Bill amount <%= transaction['eventObj'].amount %>)
                <% end %>     
              </td>
              <td>
                <%= transaction['credit'] %>
                <% if transaction['eventObj'].is_a?(Order) %>
                 (Bill amount <%= transaction['eventObj'].total_payable %>)
                <% end %>    
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
