<% provide(:title, 'Sign up') %>
<div class="col-md-4 col-md-offset-4">
	<div class="login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <h6>Sign Up</h6>
                <%= form_for(@user) do |f| %>
                  <%= render 'shared/error_messages', object: @user %>

                  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

                  <%= f.email_field :email, class: "form-control", placeholder: "Email", type: "text" %>

                  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>

                  <div class="action">
                    <%= f.submit "Create my account", class: "btn btn-primary signup" %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
