<%= form_for purchase, html: { class: "form-horizontal" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :raw_material_id, "Name of the Material", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :raw_material_id, options_for_select(RawMaterial.all.map{|rm|[rm.name + " (" + rm.unit + ")", rm.id]}), {},{class: "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :third_party_id, "Vendor's name", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :third_party_id, options_for_select(ThirdParty.all.map{|tp|[tp.name, tp.id]}), {},{class: "form-control"} %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :qty, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :qty, id: :purchase_qty, class: "form-control", onblur:"calculateAmount()" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :batch_no, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :batch_no, id: :purchase_batch_no, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :expiry_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :expiry_date, id: :purchase_expiry_date, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :rate_of_unit, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :rate_of_unit, id: :purchase_rate_of_unit, class: "form-control", onblur:"calculateAmount()" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :amount, "Total Amount", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :amount, id: :purchase_amount, class: "form-control" %>
        </div>
    </div>

    <%= f.fields_for :financial_transaction do |trans| %>
        <div class="form-group">
            <%= trans.label :amount, "Paid Amount", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= trans.text_field :amount, id: :purchase_transaction_amount, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= trans.label :payment_method, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= trans.select :payment_method, FinancialTransaction.payment_methods.keys, class: "form-control" %>
            </div>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :remarks, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :remarks, id: :purchase_remarks, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Save Purchase', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>
<script>
function calculateAmount() {
  let rate = document.getElementById("purchase_rate_of_unit").value;
  let qty = document.getElementById("purchase_qty").value;
  rate = ((rate == "") || isNaN(Number(rate))) ? 0 : Number(rate);
  qty = ((qty == "") || isNaN(Number(qty))) ? 0 : Number(qty);
  document.getElementById("purchase_rate_of_unit").value = rate;
  document.getElementById("purchase_qty").value = qty;
  document.getElementById("purchase_amount").value = rate * qty;
}
</script>
