<%= form_for @purchase, html: { class: "form-horizontal" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="form-group">
        <%= f.label :rate_of_unit, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :rate_of_unit, id: :purchase_rate_of_unit, class: "form-control" %>
        </div>
    </div>
    
    <%= f.fields_for :financial_transaction do |trans| %>
        <div class="form-group">
            <%= trans.label :amount, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= trans.text_field :amount, id: :purchase_transaction_amount, class: "form-control" %>
            </div>
        </div>
    <% end %>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Save Purchase', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>