<% provide(:title, "Purchase of raw material : #{@purchase.raw_material.name}") %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
      <div class="panel-title">Purchase of raw material : <%= @purchase.raw_material.name %></div>
      <div class="panel-options">
        <%= link_to purchases_path do %>
          <i class="glyphicon glyphicon-list" title="List all purchases"></i>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <strong>Raw Material:</strong>
        <%= link_to @purchase.raw_material.name, raw_material_path(@purchase.raw_material) %>
      </p>

      <p>
        <strong>Vendor:</strong>
        <%= link_to @purchase.third_party.name, third_party_path(@purchase.third_party) %>
      </p>

      <p>
        <strong>Rate of unit:</strong>
        <%= @purchase.rate_of_unit %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @purchase.qty %>
      </p>

      <p>
        <strong>Batch No:</strong>
        <%= @purchase.batch_no %>
      </p>

      <p>
        <strong>Expiry Date:</strong>
        <%= @purchase.expiry_date %>
      </p>

      <p>
        <strong>Total Amount:</strong>
        <%= @purchase.amount %>
      </p>

      <p>
        <strong>Paid Amount:</strong>
        <%= @purchase.financial_transaction.amount %>
      </p>

      <p>
        <strong>Payment Method:</strong>
        <%= @purchase.financial_transaction.payment_method.capitalize.split("_").join(" ") %>
      </p>

      <p>
        <strong>Remarks:</strong>
        <%= @purchase.remarks %>
      </p>

    </div>
  </div>
</div>
