<table style="font-size: 5px;">
  <tr>
    <td>
      <%= image_tag wicked_pdf_asset_base64 'logo_tulip.jpg' %>
    </td>
    <td style="padding-left: 10px;">
      <table style="font-size: 12px;">
        <tr><td align="center">Tulip Meditex</td></tr>
        <tr><td align="center">Agrovet Division</td></tr>
        <tr><td align="center">Manufacturer of Poultry, Dairy and Aquatic Feed Supplements</td></tr>
        <tr><td align="center">Reg. Office: B-25, Jayasree Park, Kolkata - 700034</td></tr>
        <tr><td align="center">Mob: +91-9674908589, Off: +9133-2406-8912</td></tr>
        <tr><td align="center">e-mail id: tulip_meditex@yahoo.in</td></tr>
        <tr><td align="center">Branch: Etwari Bar, Contai, East Midnapore, WB - 721401</td></tr>
        <tr><td align="center">Mob: +91-9933531374, +91-9733581544</td></tr>
      </table>
    </td>
    <td style="padding-left: 10px;">
      <table border="1" cellspacing="0" style="width: 100%; font-size: 12px;">
        <tr>
          <td><strong>Bill No</strong></td>
          <td><%= @tmpBill['bill_no'] %></td>
        </tr>
        <tr>
          <td><strong>Date</strong></td>
          <td><%= Time.now.strftime("%d-%m-%Y") %></td>
        </tr>
        <tr>
          <td><strong>T/R No</strong></td>
          <td><%= @tmpBill['tr_no'] %></td>
        </tr>
      </table>
      <div style="height: 10px;"></div>
      <table border="1" cellspacing="0" style="width: 100%; font-size: 11px;">
        <tr>
          <td align="right"><strong>PAN No:</strong></td>
          <td>AEDPT8130K</td>
        </tr>
        <tr>
          <td align="right"><strong>Old VAT TIN No:</strong></td>
          <td>19621210635</td>
        </tr>
        <tr>
          <td align="right"><strong>GST IN:</strong></td>
          <td>19AEDPT8130K1Z2</td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width: 100%; font-size: 12px;">
        <tr>
          <td colspan="2"><strong>Buyer's Details</strong></td>
        </tr>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @tmpBill['buyer_name'] %></td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td><%= @tmpBill['buyer_address'] %></td>
        </tr>
        <tr>
          <td><strong>Contact</strong></td>
          <td><%= @tmpBill['buyer_contact'] %></td>
        </tr>
        <tr>
          <td><strong>GST IN</strong></td>
          <td><%= @tmpBill['buyer_gst'] %></td>
        </tr>
        <tr>
          <td><strong>VAT</strong></td>
          <td><%= @tmpBill['buyer_vat'] %></td>
        </tr>
        <tr>
          <td><strong>PAN No.</strong></td>
          <td><%= @tmpBill['buyer_pan'] %></td>
        </tr>
        <tr>
          <td><strong>Order No</strong></td>
          <td><%= @tmpBill['buyer_order_no'] %></td>
        </tr>

      </table>
    </td>
    <td valign="top">
      <table style="width: 100%; font-size: 12px;">
        <tr>
          <td colspan="2"><strong>Transport Details</strong></td>
        </tr>
        <tr>
          <td><strong>Transport Name:</strong></td>
          <td><%= @tmpBill['transport_name'] %></td>
        </tr>
        <tr>
          <td><strong>Document Through:</strong></td>
          <td><%= @tmpBill['transport_document_through'] %></td>
        </tr>
        <tr>
          <td><strong>No of Cases:</strong></td>
          <td><%= @tmpBill['transport_no_of_cases'] %></td>
        </tr>
        <tr>
          <td><strong>Contact No:</strong></td>
          <td><%= @tmpBill['transport_contact_no'] %></td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <table cellpadding="2" style="width: 100%; font-size: 12px;" border="1" cellspacing="0">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Particulates</th>
            <th>HSN/SAC</th>
            <th>Packing</th>
            <th>Qty</th>
            <th>Batch No</th>
            <th>Mfg Date</th>
            <th>Use Within</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% slno = 1 %>
          <% totalAmount = 0 %>
          <% @tmpBill['items'].each do |itm| %>
          <tr>
            <td><%= slno %></td>
            <td><%= itm['name'] %></td>
            <td><%= itm['hsn'] %></td>
            <td><%= itm['packing'] %></td>
            <td><%= itm['qty'] %></td>
            <td><%= itm['batch'] %></td>
            <td><%= itm['mfg'] %></td>
            <td><%= itm['use'] %></td>
            <td><%= itm['rate'] %></td>
            <td><%= itm['amount'] %></td>
          </tr>
          <% slno += 1 %>
          <% totalAmount += itm['amount'].to_f %>
          <% end %>
          <tr>
            <% totalPrevRebateAmount = totalAmount %>
            <%
              rebateAmount = @tmpBill['rebate'].to_f
              if @tmpBill['rebateType'] == 'perc'
                rebateAmount = (totalAmount * rebateAmount) / 100
              end 
              totalAmount -= rebateAmount
            %>
            <% payableTax = (totalAmount*@cgstRate)/100 + (totalAmount*@sgstRate)/100 %>
            <% finalAmount = totalAmount + payableTax %>
            <td colspan="5" valign="top">
              <% if @tmpBill["with_tax"] %>
                Amount (in Words)<br/>
                <i><%= totalPrevRebateAmount.humanize %> rupees only</i><br/><br/>
                Tax Amount (in Words)<br/>
                <i><%= payableTax.humanize %> rupees only</i><br/>
              <% else %>
                Rupees (in words):<br/>
                <i><%= totalAmount.humanize %> rupees only</i><br/>
              <% end %>
            </td>
            <td colspan="5">
              <table style="width: 100%; font-size: 12px;" border="1" cellspacing="0">
                <tr>
                  <td colspan="2">Amount</td>
                  <td align="right"><%= totalPrevRebateAmount %></td>
                </tr>
                <tr>
                  <td colspan="2">Rebate</td>
                  <td align="right"><%= @tmpBill['rebate'].to_f %><%= (@tmpBill['rebateType'] == "perc") ? "% (#{rebateAmount})" : '' %></td>
                </tr>
                <% if @tmpBill["with_tax"] %>
                <tr>
                  <td>CGST</td>
                  <td>Rate: <%= @cgstRate %>%</td>
                  <td align="right"><%= (totalAmount*@cgstRate)/100 %></td>
                </tr>
                <tr>
                  <td>SGST</td>
                  <td>Rate: <%= @sgstRate %>%</td>
                  <td align="right"><%= (totalAmount*@sgstRate)/100 %></td>
                </tr>
                <tr>
                  <td colspan="2">Total Payable Tax</td>
                  <td align="right"><%= payableTax %></td>
                </tr>
                <% end %>
                <tr>
                  <td colspan="2">Net Payable Amount</td>
                  <td align="right">
                    <% if @tmpBill["with_tax"] %>
                    <%= finalAmount %>
                    <% else %>
                    <%= totalAmount %>
                    <% end %>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr style="font-size: 12px;">
    <td colspan="3"><strong>E. & O. E.</strong></td>
  </tr>
  <tr style="font-size: 12px;">
    <td colspan="3"><strong>Net Payable Amount (in words)</strong> <%= finalAmount.humanize %> rupees only</td>
  </tr>
  <tr style="font-size: 12px; color: red">
    <td colspan="3" align="center">
      <strong><u><i>Declaration</i></u><br/>
      <i>Aquatic, Poultry and Cattle Feed supplements are GST Exempted Goods. HSN/SAC Code 2309 9010</i></strong>
    </td>
  </tr>
  <tr style="font-size: 12px;">
    <td colspan="2">
      <strong><u>Terms and Conditions:</u></strong><br/>
      Please pay us by A/c payee cheque/NEFT/RTGS/ draft payable at Kolkata only.<br/>
      The product sold on this bill is for animal /fishery use only.<br/>
      Not for human use. Animal Use only<br/>
      All subjects to Kolkata judisdiction.
    </td>
    <td>
      <strong>For TULIP MEDITEX</strong>
      <br><br><br><br>
      <strong>Authorized Signatory</strong>
    </td>
  </tr>
</table>