<table style="font-size: 5px; width: 100%;">
  <% if @invoice_type != "normal" %>
    <tr>
      <td colspan="3" align="center" style="font-size: 12px; border: 1px solid black;"><strong><%= @invoice_type.split("_").join(" ").capitalize %></strong></td>
    </tr>
  <% else %>
    <tr>
      <td colspan="3" align="center" style="font-size: 12px; border: 1px solid black;"><strong>Invoice</strong></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= image_tag wicked_pdf_asset_base64 'logo_tulip.jpg' %>
    </td>
    <td style="padding-left: 10px;">
      <table style="font-size: 10px;">
        <tr><td align="center"><strong>Tulip Meditex</strong></td></tr>
        <tr><td align="center"><strong>Agrovet Division</strong></td></tr>
        <tr><td align="center" style="font-size: 10px;">Manufacturer of Poultry, Dairy and Aquatic Feed Supplements</td></tr>
        <tr><td align="center" style="font-size: 10px;">Reg. Office: B-25, Jayasree Park, Kolkata - 700034</td></tr>
        <tr><td align="center" style="font-size: 10px;">Mob: +91-9674908589, Off: +9133-2406-8912</td></tr>
        <tr><td align="center" style="font-size: 10px;">e-mail id: tulip_meditex@yahoo.in</td></tr>
        <tr><td align="center" style="font-size: 10px;">Branch: Etwari Bar, Contai, East Midnapore, WB - 721401</td></tr>
        <tr><td align="center" style="font-size: 10px;">Mob: +91-9933531374, +91-9733581544</td></tr>
      </table>
    </td>
    <td style="padding-left: 10px;">
      <table cellspacing="0" style="width: 100%; font-size: 10px;">
        <tr>
          <td><strong>Bill No</strong></td>
          <td><%= @order.bill_no %></td>
        </tr>
        <tr>
          <td><strong>Date</strong></td>
          <td>
            <% if @order.bill_date and @order.bill_date != '' %>
              <%= @order.bill_date.strftime("%d-%m-%Y") %>
            <% else %>
              <%= @order.created_at.strftime("%d-%m-%Y") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>T/R No</strong></td>
          <td><%= @order.tr_no %></td>
        </tr>
      </table>
      <div style="height: 10px;"></div>
      <table cellspacing="0" style="width: 100%; font-size: 10px;">
        <tr>
          <td><strong>PAN No:</strong></td>
          <td>AEDPT8130K</td>
        </tr>
        <tr>
          <td><strong>Old VAT TIN No:</strong></td>
          <td>19621210635</td>
        </tr>
        <tr>
          <td><strong>GST IN:</strong></td>
          <td>19AEDPT8130K1Z2</td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width: 100%; font-size: 10px;">
        <tr>
          <td colspan="2"><strong>Buyer's Details</strong></td>
        </tr>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @order.third_party.name %></td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td><%= @order.third_party.address %></td>
        </tr>
        <tr>
          <td><strong>Contact</strong></td>
          <td><%= @order.third_party.phn_number %></td>
        </tr>
        <tr>
          <td><strong>GST IN</strong></td>
          <td><%= @order.third_party.gst_number %></td>
        </tr>
        <tr>
          <td><strong>PAN</strong></td>
          <td><%= @order.third_party.pan %></td>
        </tr>
        <tr>
          <td><strong>Order No</strong></td>
          <td><%= @order.id %></td>
        </tr>

      </table>
    </td>
    <td valign="top">
      <table style="width: 100%; font-size: 10px;">
        <tr>
          <td colspan="2"><strong>Transport Details</strong></td>
        </tr>
        <tr>
          <td><strong>Transport Name:</strong></td>
          <td><%= @order.transport.name %></td>
        </tr>
        <tr>
          <td><strong>Document Through:</strong></td>
          <td><%= @order.transport.documents_through %></td>
        </tr>
        <tr>
          <td><strong>No of Cases:</strong></td>
          <td><%= @order.transport.no_of_cases %></td>
        </tr>
        <tr>
          <td><strong>Contact No:</strong></td>
          <td><%= @order.transport.contact_no %></td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <table cellpadding="2" style="width: 100%; font-size: 10px;" border="1" cellspacing="0">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Particulates</th>
            <th>HSN/SAC</th>
            <th>Packing</th>
            <th>Batch No</th>
            <th>Mfg Date</th>
            <th>Use Within</th>
            <th>MRP</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% slno = 1 %>
          <% @order.order_items.each do |itm| %>
          <tr>
            <td><%= slno %></td>
            <td><%= itm.product.name %></td>
            <td><%= itm.product.hsn %></td>
            <td><%= itm.product.packing %></td>
            <td><%= itm.product.batch %></td>
            <td><%= itm.product.mfg_date %></td>
            <td><%= itm.product.use_within %></td>
            <td><%= itm.product.mrp %></td>
            <td><%= itm.selling_price %></td>
            <td><%= itm.total_item_cost %></td>
          </tr>
          <% slno += 1 %>
          <% end %>
          <tr>
              <td colspan="4" valign="top">
                Amount (in Words)<br/>
                <i><%= @order.total_payable.humanize %> rupees only</i><br/><br/>
                <% if @order.with_tax %>
                  Tax Amount (in Words)<br/>
                  <i><%= @order.total_tax.humanize %> rupees only</i><br/>
                <% end %><br/>
                Remarks:<br/>
                <%= @order.remarks %>
            </td>
            <td colspan="7">
              <table style="width: 100%; font-size: 10px;" cellspacing="0">
                <tr>
                  <td colspan="2">Amount</td>
                  <td align="right"><%= @order.total_cost %></td>
                </tr>
                <% if @order.coupon %>
                <tr>
                  <% disc_sign = @order.coupon.type_of_discount == 'perc' ? '%' : '/-' %>
                  <td colspan="2">Rebate <%= '(' + @order.coupon.amount.to_s + disc_sign + ')' %></td>
                  <td align="right"><%= @order.discounted_amount %></td>
                </tr>
                <% end %>
                <% if @order.with_tax %>
                <% @taxes.each do |tax| %>
                  <% taxAmt = (@order.total_cost - @order.discounted_amount) * tax.tax_val/100 %>
                  <tr>
                    <td><strong><%= tax.tax.name %></strong></td>
                    <td>Rate: <%= tax.tax_val.to_s %>%</td>
                    <td align="right"><%= taxAmt %></td>
                  </tr>
                <% end %>                
                <tr>
                  <td colspan="2">Total Payable Tax</td>
                  <td align="right"><%= @order.total_tax %></td>
                </tr>
                <% end %>
                <% if @order.freight_less and @order.freight_less != 0 %>
                <tr>
                  <td colspan="2">Freight less</td>
                  <td align="right"><%= @order.freight_less %></td>
                </tr>
                <% end %>
                <tr>
                  <td colspan="2">Net Payable Amount</td>
                  <td align="right">
                    <%= @order.total_payable %>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr style="font-size: 10px;">
    <td colspan="3"><strong>E. & O. E.</strong></td>
  </tr>
  <tr style="font-size: 10px;">
    <td colspan="3"><strong>Net Payable Amount (in words)</strong> <%= @order.total_payable.humanize %> rupees only</td>
  </tr>
  <tr style="font-size: 10px; color: red">
    <td colspan="3" align="center">
      <strong><u><i>Declaration</i></u><br/>
      <i>Aquatic, Poultry and Cattle Feed supplements are GST Exempted Goods. HSN/SAC Code 2309 9010</i></strong>
    </td>
  </tr>
  <tr style="font-size: 10px;">
    <td colspan="2">
      <strong><u>Terms and Conditions:</u></strong><br/>
      Please pay us by A/c payee cheque/NEFT/RTGS/ draft payable at Kolkata only.<br/>
      The product sold on this bill is for animal /fishery use only.<br/>
      Not for human use. Animal Use only<br/>
      All subjects to Kolkata judisdiction.
    </td>
    <td>
      <strong>For TULIP MEDITEX</strong>
      <br><br><br><br>
      <strong>Authorized Signatory</strong>
    </td>
  </tr>
</table>