<table style="font-size: 14px;">
  <tr>
    <td>
      <%= image_tag wicked_pdf_asset_base64 'logo_tulip.jpg' %>
    </td>
    <td style="padding-left: 10px;">
      <table style="font-size: 14px;">
        <tr><td align="center"><strong>Tulip Meditex</strong></td></tr>
        <tr><td align="center"><strong>Agrovet Division</strong></td></tr>
        <tr><td align="center"><strong>Manufacturer of Poultry, Dairy and Aquatic Feed Supplements</strong></td></tr>
        <tr><td align="center"><strong>Reg. Office: B-25, Jayasree Park, Kolkata - 700034</strong></td></tr>
        <tr><td align="center">Mob: +91-8100414121, Off: +9133-2406-8912</td></tr>
        <tr><td align="center">e-mail id: tulip_meditex@yahoo.in</td></tr>
        <tr><td align="center"><strong>Branch: Etwari Bard, Contai, East Midnapore, WB - 721401</strong></td></tr>
        <tr><td align="center">Mob: +91-9933531374, +91-9733581544</td></tr>
      </table>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>No: <%= @order.id %></td>
    <td></td>
    <td>Date : <%= @order.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td colspan="3" align="center">
      <table border="1" cellspacing="0" style="width: 100%;">
        <tr>
          <td style="width: 75%;">Particulars</td>
          <td style="width: 25%;">Amount</td>
        </tr>
        <tr style="height: 200px;" valign="top">
          <td><strong>Account</strong><br><%= @order.third_party.name %></td>
          <td><%= @order.financial_transaction.amount %>/-</td>
        </tr>
        <tr valign="top">
          <td>
            <strong>Through :</strong><br/>
            <%= @order.financial_transaction.payment_method %><br/>
            <strong>Amount (in words) :</strong>
            <i><%= @order.financial_transaction.amount.humanize %> rupees only</i>
          </td>
          <td><strong><%= @order.financial_transaction.amount %>/-</strong></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><br><br><br>Receiver's Signature</td>
    <td></td>
    <td><br><br><br>Authorized Signatory</td>
  </tr>
</table>