<% provide(:title, "Companies") %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
		   <div class="panel-title">Companies</div>
	     <div class="panel-options">
	       <%= link_to new_company_path do %>
	         <i class="glyphicon glyphicon-add"></i>
	       <% end %>
	     </div>
	  </div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
	        <thead>
	          <tr>
	            <th>Company name</th>
	            <th>Branch name</th>
	            <th>Ph number</th>
	            <th>Email</th>
	            <th>Web site</th>
	            <th>Vat number</th>
	            <th>Cst number</th>
	            <th>Trade license number</th>
	            <th>Drug license number</th>
	            <th>Registration number</th>
	            <th>Authorized sign img</th>
	            <th>Company logo img</th>
	            <th colspan="3"></th>
	          </tr>
	        </thead>

	        <tbody>
	          <% @companies.each do |company| %>
	            <tr>
	              <td><%= company.company_name %></td>
	              <td><%= company.branch_name %></td>
	              <td><%= company.ph_number %></td>
	              <td><%= company.email %></td>
	              <td><%= company.web_site %></td>
	              <td><%= company.vat_number %></td>
	              <td><%= company.cst_number %></td>
	              <td><%= company.trade_license_number %></td>
	              <td><%= company.drug_license_number %></td>
	              <td><%= company.registration_number %></td>
	              <td><%= company.authorized_sign_img %></td>
	              <td><%= company.company_logo_img %></td>
	              <td>
									<%= link_to company do %>
			              <i class="glyphicon glyphicon-list-alt"></i>
			            <% end %>
								</td>
	              <td>
									<%= link_to edit_company_path(company) do %>
			              <i class="glyphicon glyphicon glyphicon-edit"></i>
			            <% end %>
								</td>
	              <td>
									<%= link_to company, method: :delete, data: { confirm: 'Are you sure?' } do %>
			              <i class="glyphicon glyphicon glyphicon-trash"></i>
			            <% end %>
								</td>
	            </tr>
	          <% end %>
	        </tbody>
	      </table>
			</div>
		</div>
	</div>
</div>
