<% provide(:title, "Operational Expense") %>
<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
       <div class="panel-title">Operational Expense</div>
       <div class="panel-options">
         <%= link_to new_operational_expense_path do %>
          <i class="glyphicon glyphicon-plus" title="New Operational Expense"></i>
         <% end %>
       </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Details</th>
              <th>Paid on</th>
              <th>Amount</th>
              <th>Mode</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @operational_expenses.each do |operational_expense| %>
              <tr>
                <td><%= operational_expense.name %></td>
                <td><%= operational_expense.details %></td>
                <td><%= operational_expense.paid_on %></td>
                <td><%= operational_expense.financial_transaction.amount  %></td>
                <td><%= operational_expense.financial_transaction.payment_method.split("_").join(" ").capitalize  %></td>
                <td>
                  <%= link_to operational_expense do %>
                    <i class="glyphicon glyphicon-list-alt" title="View"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to operational_expense, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="glyphicon glyphicon glyphicon-trash" title="Delete"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
