<table style="font-size: 14px; width: 100%;">
  <tr>
    <td colspan="3" align="center" style="font-size: 14px; border: 1px solid black;"><strong>Voucher</strong></td>
  </tr>
  <tr>
    <td>
      <%= image_tag wicked_pdf_asset_base64 'logo_tulip.jpg' %>
    </td>
    <td style="padding-left: 10px;">
      <table style="font-size: 14px;">
        <tr><td align="center"><strong>Tulip Meditex</strong></td></tr>
        <tr><td align="center"><strong>Agrovet Division</strong></td></tr>
        <tr><td align="center" style="font-size: 10px;">Manufacturer of Poultry, Dairy and Aquatic Feed Supplements</td></tr>
        <tr><td align="center" style="font-size: 10px;">Reg. Office: B-25, Jayasree Park, Kolkata - 700034</td></tr>
        <tr><td align="center" style="font-size: 10px;">Mob: +91-9674908589, Off: +9133-2406-8912</td></tr>
        <tr><td align="center" style="font-size: 10px;">e-mail id: tulip_meditex@yahoo.in</td></tr>
        <tr><td align="center" style="font-size: 10px;">Branch: Etwari Bar, Contai, East Midnapore, WB - 721401</td></tr>
        <tr><td align="center" style="font-size: 10px;">Mob: +91-9933531374, +91-9733581544</td></tr>
      </table>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>No: <%= @operational_expense.id %></td>
    <td></td>
    <td>Date : <%= @operational_expense.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td colspan="3" align="center">
      <table border="1" cellspacing="0" style="width: 100%;">
        <tr>
          <td style="width: 75%;">Particulars</td>
          <td style="width: 25%;">Amount</td>
        </tr>
        <tr style="height: 200px;" valign="top">
          <td><strong>Account</strong><br><%= @operational_expense.name %><br><br><strong>Details</strong><br><%= @operational_expense.details %></td>
          <td><%= @operational_expense.financial_transaction.amount %>/-</td>
        </tr>
        <tr valign="top">
          <td>
            <strong>Through :</strong><br/>
            <%= @operational_expense.financial_transaction.payment_method %><br/>
            <strong>Amount (in words) :</strong>
            <i><%= @operational_expense.financial_transaction.amount.humanize %> rupees only</i>
          </td>
          <td><strong><%= @operational_expense.financial_transaction.amount %>/-</strong></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><br><br><br>Receiver's Signature</td>
    <td></td>
    <td><br><br><br>Authorized Signatory</td>
  </tr>
</table>