<% provide(:title, "Products") %>
<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
       <div class="panel-title">Products</div>
       <div class="panel-options">
         <%= link_to new_product_path do %>
           <i class="glyphicon glyphicon-plus" title="Add new product"></i>
         <% end %>
       </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="prodDtTbl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
              <th>HSN</th>
              <th>Batch</th>
              <th>Unit</th>
              <th>Qty</th>
              <th>Trading price (per unit)</th>
              <th>MRP (per unit)</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= truncate(product.description, length:20) %></td>
                <td><%= product.product_type %></td>
                <td><%= product.hsn %></td>
                <td><%= product.batch %></td>
                <td><%= product.unit %></td>
                <td><%= product.available_units %></td>
                <td><%= product.trading_price %></td>
                <td><%= product.mrp %></td>
                <td><span onclick="openAddToCart('<%= product.id %>', '<%= product.name %>','<%= product.available_units %>')" style="cursor: pointer;"><strong>Add to Cart</strong></span></td>
                <td>
                  <%= link_to product do %>
                    <i class="glyphicon glyphicon-list-alt" title="View"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_product_path(product) do %>
                    <i class="glyphicon glyphicon glyphicon-edit" title="Edit"></i>
                  <% end %>  
                </td>
                <td>
                  <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="glyphicon glyphicon glyphicon-trash" title="Delete"></i>
                  <% end %>  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addtocart" tabindex="-1" role="dialog" aria-labelledby="addtocartLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addtocartLabel">Add to Cart</h4>
      </div>
      <div class="modal-body">
        <div id="pname"></div>
        <div id="pqty"></div>
        <div id="pid"></div>
        <input id="slqty" type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="1"/>
        <dir><strong>(Feature under progress, please ignore)</strong></dir>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

