<% provide(:title, @product.name) %>
<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">Product : <%= @product.name %></div>
      <div class="panel-options">
        <%= link_to edit_product_path(@product) do %>
          <i class="glyphicon glyphicon-edit" title="Edit this product"></i>
        <% end %>
        <%= link_to products_path do %>
          <i class="glyphicon glyphicon-list" title="List all product"></i>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @product.product_type %>
      </p>

      <p>
        <strong>Packing:</strong>
        <%= @product.packing %>
      </p>

      <p>
        <strong>HSN/SAC:</strong>
        <%= @product.hsn %>
      </p>

      <p>
        <strong>Batch:</strong>
        <%= @product.batch %>
      </p>

      <p>
        <strong>Manufactured by:</strong>
        <%= @product.manufactured_by %>
      </p>

      <p>
        <strong>Unit:</strong>
        <%= @product.unit %>
      </p>

      <p>
        <strong>Available Units (Qty):</strong>
        <%= @product.available_units %>
      </p>

      <p>
        <strong>Trading price (per unit):</strong>
        <%= @product.trading_price %>
      </p>

      <p>
        <strong>MRP (per unit):</strong>
        <%= @product.mrp %>
      </p>

      <p>
        <strong>MFG Date:</strong>
        <%= @product.mfg_date %>
      </p>

      <p>
        <strong>Use within:</strong>
        <%= @product.use_within %>
      </p>

      <p>
        <strong>Manufactured By:</strong>
        <%= @product.manufactured_by %>
      </p>

    </div>
  </div>
</div>
