<div class="col-md-2">
  <div class="sidebar content-box" style="display: block;">
    <ul class="nav">
      <!-- Main menu -->
      <li <% if title_match(yield(:title), 'Dashboard') %> class="current" <% end %>>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon glyphicon-home"></i> Dashboard
        <% end %>
      </li>
      <li <% if title_match(yield(:title), 'Raw Material') %> class="current" <% end %>>
        <%= link_to raw_materials_path do %>
        <i class="glyphicon glyphicon-tint"></i> Raw Materials
        <% end %>
      </li>
      <li <% if title_match(yield(:title), 'Purchase') %> class="current" <% end %>>
        <%= link_to purchases_path do %>
        <i class="glyphicon glyphicon-shopping-cart"></i> Purchases
        <% end %>
      </li>
      <li <% if title_match(yield(:title), 'Product') %> class="current" <% end %>>
        <%= link_to products_path do %>
        <i class="glyphicon glyphicon-barcode"></i> Products
        <% end %>
      </li>

      <li <% if title_match(yield(:title), 'Order') %> class="current" <% end %>>
        <%= link_to orders_path do %>
          <i class="glyphicon glyphicon-send"></i> Orders
        <% end %>
      </li>
      
      <li <% if title_match(yield(:title), 'Coupon') %> class="current" <% end %>>
        <%= link_to coupons_path do %>
        <i class="glyphicon glyphicon-tag"></i> Coupons
        <% end %>
      </li>
      <li <% if title_match(yield(:title), 'Third Part') %> class="current" <% end %>>
        <%= link_to third_parties_path do %>
        <i class="glyphicon glyphicon-leaf"></i> Third Parties
        <% end %>
      </li>
      <li <% if title_match(yield(:title), 'Compan') %> class="current" <% end %>>
        <%= link_to companies_path do %>
          <i class="glyphicon glyphicon-briefcase"></i> Companies
        <% end %>
      </li>

      <li <% if title_match(yield(:title), 'Employ') %> class="current" <% end %>>
        <%= link_to employees_path do %>
          <i class="glyphicon glyphicon-user"></i> Employees
        <% end %>
      </li>

      <li class="submenu <% if title_match(yield(:title), ['Tax']) %> current open <% end %>">
        <a href="#">
          <i class="glyphicon glyphicon-cog"></i> Settings
          <span class="caret pull-right"></span>
        </a>
        <!-- Sub menu -->
        <ul>
          <li <% if title_match(yield(:title), 'Tax') %> class="current" <% end %>>
            <%= link_to taxes_path do %>
              Taxes
            <% end %>
          </li>
        </ul>
      </li>

      <li <% if title_match(yield(:title), 'Generate Bill') %> class="current" <% end %>>
        <%= link_to temp_bill_new_path do %>
          <i class="glyphicon glyphicon-list-alt"></i> Bill Generation
        <% end %>
      </li>

    </ul>
 </div>
</div>
